@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
    /* Paleta de cores */
    --vermelho: #D72638;
    --dourado: #FFD700;
    --bege-suave: #F5E1C7;
    --verde-jade: #1A936F;
    --off-white: #ECEBE9;

    /* Fontes */
    --main-title: "Cormorant Garamond", serif;
    --default-title: "Urbanist", sans-serif;
    --default-font: "Roboto", sans-serif;
    --money-font: "Orbitron", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--vermelho);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.600);
    padding: 80px;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

header > div#header-image > img {
    height: 100px;
    color: #fff;
}

header > div#header-text > h1 {
    font-family: var(--main-title);
    font-variant: small-caps;
    font-size: 4em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.600);
    color: var(--bege-suave);
}

header > div#header-text > p {
    font-family: var(--main-title);
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.600);
    color: var(--bege-suave);
}

html, body {
    font-family: var(--default-font);
    background-color: #EBEBE3;
    background-image: url(../img/background-body.avif);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
    background-attachment: fixed;
}

main > section {
    margin: 150px;
}

main > hr {
    height: auto;
    width: 85%;
    
    border: 1px solid #ffffff90;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.200);
    
    margin: auto;
}

main strong {
    color: var(--verde-jade);
}

main em, abbr {
    text-decoration: underline;
    text-decoration-color: var(--verde-jade);
}

main > section#menu-section {
    position: relative;
    display: flex;
    gap: 2.5vw;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    border-radius: 24px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.300);
    
    padding: 40px;
}

main > section#menu-section > h2 {
    position: absolute;
    top: -3.3%;
    left: 2.5%;

    font-family: var(--default-title);
    font-size: 3em;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.200);
}

main > section#menu-section > div.menu-box {
    background-color: var(--off-white);
    border-radius: 24px;
    padding: 30px;
}

main > section#menu-section > div.menu-box > img {
    height: auto;
    width: 100%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.300);
}

main > section#menu-section > div.menu-box > h3 {
    font-family: var(--default-title);
    font-size: 1.5em;

    margin: 15px 0px;
}

main > section#menu-section > div.menu-box > p {
    font-family: var(--default-font);
    font-size: 1em;
    line-height: 1.25em;
    text-align: justify;
}

main > section#menu-section > div.menu-box > div.price {
    font-family: var(--money-font);
    font-size: 2em;
    color: white;
    text-align: center;
    
    
    height: auto;
    width: 100%;
    margin: 30px 0px;
    padding: 10px;
    
    background-color: var(--verde-jade);
    border-radius: 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.300);
}

main > section#section-about {
    display: flex;
    align-items: center;
    justify-content: center;
}

main > section.sections h2 {
    font-family: var(--default-title);
    font-size: 2em;
    text-align: left;
    
    margin: 10px;
}

main > section.sections p {
    font-family: var(--default-font);
    font-size: 1.5em;
    line-height: 1.25em;
    text-align: justify;

    margin: 10px;
}


/* main > section#s2 > div#section-text > h2 {
    font-family: var(--default-title);
    font-size: 2em;
    text-align: left;
    padding: 10px;
    } */
    
/* main > section#s2 > div#section-text > p {
    font-family: var(--default-font);
    font-size: 1.5em;
    line-height: 1.25em;
    text-align: justify;
    padding: 10px;
    
} */
        
main > section#section-about> div#image-box {
    background-image: url(../img/background-about-section.png);
    background-repeat: no-repeat;
    background-position: top top;
    background-size: contain;
}

main > section#section-about > div#image-box > img {
    height: 700px;
    width: auto;
    filter: drop-shadow(-2px 2px 2px rgba(0, 0, 0, 0.500));
}

main > section#section-about > div#text-box {
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.500);
    padding: 24px;
    max-width: 680px;
    border-radius: 24px;
    border: 5px solid var(--dourado);
}

main > section#s3 {
    display: flex;
    gap: 10vw;
    justify-content: center;
    align-items: first baseline;
}

main > section#s3 > div#contact {
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.500);
    border-radius: 15px;
    width: 500px;
    padding: 10px 20px;
    border: 5px solid var(--dourado);
}

/* main > section#s3 > div#contact > h2 {
    font-family: var(--default-title);
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
} */

/* main > section#s3 > div#contact > p {
    font-family: var(--default-font);
    font-size: 1.5em;
    line-height: 1.25em;
    text-align: justify;
    padding: 20px 0px;
} */

main > section#s3 > div#contact > ul > li {
    list-style-type: none;
    font-size: 1.5em;
}

main > section#s3 > div#contact > ul > li#phone:hover::after {
    content: ": (43) 3321-9398";
}

main > section#s3 > div#contact > ul > li#email:hover::after {
    content: ": email@email.com";
}

main > section#s3 > div#contact > h3 {
    font-family: var(--default-title);
    font-size: 1.6em;
    font-weight: 600;
    margin-top: 20px;
}

main > section#s3 > div#contact > ul > li > a {
    color: #000;
    text-decoration: none;
}

main > section#s3 > div#contact > ul > li {
    /* text-align: center; */
    margin: 20px;
}

main > section#s3 > div#contact > ul > li > a > img {
    height: 60px;
    width: auto;
    align-items: center;
}

main > section#s3 > div#contact > ul > li#instagram > a > img:hover {
    background-image: linear-gradient(145deg, #F58529, #FEDA77, #DD2A7B, #8134AF , #515BD4);
    border-radius: 10px;
}

main > section#s3 > div#contact > ul > li#instagram > a:hover::after {
    content: "\AInstagram";
    white-space: pre;
    font-size: 0.8em;
}

main > section#s3 > div#contact > ul > li#facebook > a > img:hover {
    background-color: #1877F2;
    border-radius: 50%;
}

main > section#s3 > div#contact > ul > li#facebook > a:hover::after {
    content: "\A Facebook";
    white-space: pre;
    font-size: 0.8em;
}

main > section#s3 > div#contact > ul > li#tiktok > a > img:hover {
    background: radial-gradient(circle, #fff 30%, #000);
    border-radius: 15px;
}

main > section#s3 > div#contact > ul > li#tiktok > a:hover::after {
    content: "\ATikTok";
    white-space: pre;
    font-size: 0.8em;
}

main > section#s3 > div#localitation {
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.500);
    border-radius: 15px;
    max-width: 500px;
    padding: 10px 20px;
    border: 5px solid var(--dourado);
}

main > section#s3 > div#localitation > h2 {
    font-family: var(--default-title);
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
}

main > section#s3 > div#localitation > p {
    font-family: var(--default-font);
    font-size: 1.5em;
    line-height: 1.25em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.200);
    text-align: justify;
    padding: 20px 0px;
}

main > section#s3 > div#localitation > iframe {
    display: block;
    height: 400px;
    width: 90%;
    border: 3px solid var(--verde-jade);
    border-radius: 10px;
    margin: auto;
}

footer {
    background-color: var(--dourado);
    box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.600);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    padding: 50px;
}

footer > div > h3 {
    font-family: var(--default-title);
    font-size: 2em;
    margin-bottom: 20px;
}

footer > div > ul > li {
    font-family: var(--default-font);
    font-size: 1.5em;
    list-style-type: none;
    margin: 10px 0px;
}

footer > hr {
    height: 200px;
    border: 1px solid #ffffff90;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.200);
}
