@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Color palette */
    --vermelho: #D72638;
    --dourado: #FFD700;
    --bege-suave: #F5E1C7;
    --verde-jade: #1A936F;
    --off-white: #ECEBE9;

    /* Fonts */
    --main-title: "Cormorant Garamond", serif;
    --default-title: "Urbanist", sans-serif;
    --default-font: "Roboto", sans-serif;
    --money-font: "Orbitron", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;

    background-color: var(--vermelho);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.600);
    
    padding: 50px;
}

header > div#logo-box > img {
    height: 200px;
    width: auto;
}

header > div#title-box > h1 {
    font-family: var(--main-title);
    font-variant: small-caps;
    font-size: 4em;
    color: var(--bege-suave);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.600);
}

header > div#title-box > p {
    font-family: var(--main-title);
    font-size: 2em;
    color: var(--bege-suave);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.600);
}

html, body {
    font-family: var(--default-font);

    background-color: #EBEBE3;
    background-image: url(../img/body-background.avif);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
    background-attachment: fixed;

}

main > section {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: flex-start;

    margin: 150px;
}

main > section.sections > div.default-box {
    background-color: #fff;
    
    height: auto;
    min-width: 400px;
    max-width: 600px;
    
    border: 5px solid var(--dourado);
    border-radius: 24px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.400);
    
    padding: 35px;
}

main > section.sections h2 {
    font-family: var(--default-title);
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    
    margin: 10px 0px;
}

main h3 {
    font-family: var(--default-title);
    font-size: 1.5em;
    font-weight: 600;

    margin: 25px 0px;
}

main > section.sections p {
    font-family: var(--default-font);
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: justify;

    margin: 20px 0px;
}

main hr {
    height: auto;
    width: 85%;
    
    border: 1px solid #ffffff90;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.200);
    
    margin: auto;
}

main strong {
    color: var(--verde-jade);
}

main em, abbr {
    text-decoration: underline;
    text-decoration-color: var(--verde-jade);
    font-style: normal;
    font-weight: 450;
}

main > section#section-menu {
    position: relative;

    background-color: #fff;
    border-radius: 24px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.300);
    
    height: auto;
    max-width: 800px;

    margin: 150px auto;
    padding: 40px;
}

main > section#section-menu > h2 {
    position: absolute;
    top: -5.5%;
    left: 4%;

    font-family: var(--default-title);
    font-size: 3em;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.300);
}

main > section#section-menu > div.menu-box {
    background-color: var(--off-white);
    border-radius: 24px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.300);

    height: auto;
    max-width: 600px;

    padding: 30px;
}

main > section#section-menu > div.menu-box > img {
    height: auto;
    width: 100%;

    border-radius: 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.300);
}

main > section#section-menu > div.menu-box > p {
    font-family: var(--default-font);
    font-size: 1em;
    line-height: 1.25em;
    text-align: justify;
}

main > section#section-menu > div.menu-box > div.price-box {
    font-family: var(--money-font);
    font-size: 2em;
    color: #fff;
    text-align: center;
    
    
    height: auto;
    width: 100%;
    margin: 30px 0px;
    padding: 10px;
    
    background-color: var(--verde-jade);
    border-radius: 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.300);
}
            
main > section#section-about{
    align-items: center;
}

main > section#section-about > div#about-image-box {
    background-image: url(../img/background-about-section.png);
    background-repeat: no-repeat;
    background-position: top top;
    background-size: contain;
}

main > section#section-about > div#about-image-box > img {
    height: 700px;
    width: auto;
    
    filter: drop-shadow(-2px 2px 2px rgba(0, 0, 0, 0.500));
}

main > section#section-about > div#about-description-box > img {
    display: none;
}

main > section#section-informations > div#contact-box > ul > li {
    list-style-type: none;
    font-size: 1.5em;

    margin: 20px 0px;
}

main > section#section-informations > div#contact-box > ul > li#phone:hover::after {
    content: ": (88) 88888-8888";
}

main > section#section-informations > div#contact-box > ul > li#email:hover::after {
    content: ": email@email.com";
}

main > section#section-informations > div#contact-box > ul > li > a {
    color: #000;
    text-decoration: none;
}

main > section#section-informations > div#contact-box > ul > li > a > img {
    height: 60px;
    width: auto;

    align-items: center;
}

main > section#section-informations > div#contact-box > ul > li#instagram-logo > a > img:hover {
    background-image: linear-gradient(145deg, #F58529, #FEDA77, #DD2A7B, #8134AF , #515BD4);
    border-radius: 10px;
}

main > section#section-informations > div#contact-box > ul > li#instagram-logo > a:hover::after {
    content: "\AInstagram";
    white-space: pre;
    font-size: 0.8em;
    font-weight: 450;
}

main > section#section-informations > div#contact-box > ul > li#facebook-logo > a > img:hover {
    background-color: #1877F2;
    border-radius: 50%;
}

main > section#section-informations > div#contact-box > ul > li#facebook-logo > a:hover::after {
    content: "\A Facebook";
    white-space: pre;
    font-size: 0.8em;
    font-weight: 450;
}

main > section#section-informations > div#contact-box > ul > li#tiktok-logo > a > img:hover {
    background: radial-gradient(circle, #fff 30%, #000);
    border-radius: 15px;
}

main > section#section-informations > div#contact-box > ul > li#tiktok-logo > a:hover::after {
    content: "\ATikTok";
    white-space: pre;
    font-size: 0.8em;
    font-weight: 450;
}

main > section#section-informations > div#localitation-box > iframe {
    height: auto*2;
    width: 100%;

    border: 3px solid var(--verde-jade); /* Not working */
    border-radius: 15px;
}

footer {
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: flex-start;

    background-color: var(--dourado);
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.300);
    
    padding: 50px;
}

footer > div {
    height: auto;
    width: 100%;
}

footer > div > h2 {
    font-family: var(--default-title);
    font-size: 2em;
    font-weight: 550;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.100);

    margin: 20px 0px;
}

footer > div > ul > li {
    list-style-type: none;

    font-size: 1.2em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.100);

    margin: 20px 0px;
}

footer > div > ul > li > em {
    font-weight: 500;
    font-style: normal;
}

footer > div > ul > li > a {
    color: #0000EE;
}

footer > hr {
    height: 60vh;
    border: 1px solid #ffffff40;
}

/* Responsiveness for smaller devices */
@media (max-width: 991px) {
    header {
        padding: 5%;
    }

    header > div#logo-box > img {
        height: 15vh;
        width: auto;
    }
        
    header > div#title-box > h1 {
        font-size: 8vw;
    }
    
    header > div#title-box > p {
        font-size: 3.5vw;
    }

    main > section {
        display: block;
        margin: 10vh 5vw;
    }

    main > section.sections > div.default-box {
        min-width: 0px;
        max-width: 100%;
        width: 100%;
        
        padding: 3vh 5vw;
        margin: auto;
    }

    main > section.sections h2 {
        font-size: 6vw;
        
        margin: 2vh 0vw;
    }

    main h3 {
        font-size: 5vw;

        margin: 2vh 0vw;
    }

    main > section.sections p {
        font-size: 4vw;

        margin: 2vh 0vw;
    }

    
    main > section#section-menu {
        max-width: 600px;
        
        margin: 5%;
        margin-top: 10%;
        padding: 5%;
    }

    main > section#section-menu > h2 {
        top: -2.6%;
        left: 5%;

        font-size: 8vw;
        font-weight: 200;
    }

    main > section#section-menu > div.menu-box {
        min-width: none;
        padding: 4%;
    }

    main > section#section-menu > div#menu-box-custom {
        margin-top: 8%;
    }

    main > section#section-menu > div.menu-box > p {
        font-size: 4vw;
    }

    main > section#section-menu > div.menu-box > div.price-box {
        font-size: 6vw;

        margin: 4vh 0vw;
        padding: 2%;
    }

    main > section#section-about {
        margin: 15% 5%;
    }

    main > section#section-about > div#about-image-box {
        display: none;
    }

    main > section#section-about > div#about-description-box {
        text-align: center;
    }

    main > section#section-about > div#about-description-box > img {
        display: block;
        
        max-height: auto;
        max-width: 100%;

        border-radius: 15px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.300);

        margin: 1vh 0vw;
    }
    
    main > section#section-informations {
        margin: 5%;
        margin-bottom: 15%;
    }

    main > section#section-informations > div.informations-box {
        margin-top: 5vh;
    }

    main > section#section-informations > div#contact-box > ul > li {
        list-style-type: none;

        font-size: 4.5vw;

        margin: 2vh 0vw;
    }

    main > section#section-informations > div#contact-box > h3 {
        font-size: 4.5vw;
        margin: 3vh 0vw;
    }

    main > section#section-informations > div#contact-box > ul > li#phone:active::after {
        content: ": (88) 88888-8888";
    }

    main > section#section-informations > div#contact-box > ul > li#email:active::after {
        content: ": email@email.com";
    }

    main > section#section-informations > div#contact-box > ul#social-media-lu {
        display: inline-flex;
        gap: 50px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    main > section#section-informations > div#contact-box > ul > li#instagram-logo > a > img {
        background-image: linear-gradient(145deg, #F58529, #FEDA77, #DD2A7B, #8134AF , #515BD4);
        border-radius: 10px;
    }

    main > section#section-informations > div#contact-box > ul > li#facebook-logo > a > img {
        background-color: #1877F2;
        border-radius: 50%;
    }

    main > section#section-informations > div#contact-box > ul > li#tiktok-logo > a > img {
        background: radial-gradient(circle, #fff 30%, #000);
        border-radius: 15px;
    }

    main > section#section-informations > div#contact-box > ul > li#instagram-logo > a:hover::after {
        content: none;
    }

    main > section#section-informations > div#contact-box > ul > li#facebook-logo > a:hover::after {
        content: none;
    }

    main > section#section-informations > div#contact-box > ul > li#tiktok-logo > a:hover::after {
        content: none;
    }

    main > section#section-informations > div#localitation-box > iframe {
        max-height: auto;
        max-width: 100%;
    }
    
    footer {
        gap: 3%;
        padding: 2.5vh 5vw;
    }
    
    footer > div > h2 {
        font-size: 4vw;

        margin: 2vh 0vw;
    }
    
    footer > div > ul > li {
        font-size: 3vw;

        margin: 2vh 0vw;
    }

    footer > hr {
        max-height: 85%;
        margin: auto;
    }
}